scikit-learn
pandas
joblib
numpy
pyttsx3
chromadb
sentence-transformers
groq
faster-whisper
sounddevice
soundfile
fastapi
uvicorn
pydantic
gTTS
deep-translator
python-dotenv
slowapi
python-multipart
edge-tts
